@import "tailwindcss";
body{background: #2c684c;}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* body{background: linear-gradient(40deg, rgba(20,179,128,1) 0%, rgba(0,0,0,1) 100%);} */
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
